{% extends 'layout/question_basic.html' %}

{% block title %}Вопросы{% endblock %}

{% block content %}
    <div>
        <h1 class="centerWindow">Вопросы</h1>
        <hr>
        {% if questions|length > 0 %}
            {% for question in questions %}
                    <div class="task">
                        <h3><a href="{% url 'main:detail' pk=question.id %}">{{ question.header }}</a></h3>
                        <p>Автор: {{ question.author }}</p>
                        {% if user.is_authenticated and question_filter == question.author_id %}
                            <a href="{%  url 'main:update_question' question.id %}" class="btn btn-primary receive">Обновить</a>
                            <a href="{%  url 'main:delete_question' question.id %}" class="btn btn-danger receive">Удалить</a>
                        {% endif %}
                    </div>
            {% endfor %}
        {% else %}
            <h3 class="centerWindow">В данный момент, здесь нету записей!</h3>
        {% endif %}
    </div>
{% endblock %}